<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Web quote request details</h1>
    <ul>
      <li>Name: <%= @name %></li>
      <li>Email: <%= @email %></li>
      <li>Phone: <%= @phone %></li>
      <li>Request: <%= @request %></li>
    </ul>
  </body>
</html>