<div class="content row">
	<div class="col-lg-12">
		<h1 class="boxed-header">Janitorial services</h1>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<a href="assets/janitorial-1-original.jpg" title="Janitorial" data-gallery>
						<%= image_tag("janitorial-1.jpg", alt: "Janitorial services") %>
					</a>
				      <div class="carousel-caption">
				        <p>Go Green Janitorial Services</p>
				    </div>
				</div>
				<div class="item">
					<a href="assets/janitorial-2-original.jpg" title="Janitorial" data-gallery>
						<%= image_tag("janitorial-2.jpg", alt: "Janitorial services") %>
					</a>
				</div>
				<div class="item">
					<a href="assets/janitorial-3-original.jpg" title="Janitorial" data-gallery>
						<%= image_tag("janitorial-3.jpg", alt: "Janitorial services") %>
					</a>
				</div>
				<div class="item">
					<a href="assets/janitorial-4-original.jpg" title="Janitorial" data-gallery>
						<%= image_tag("janitorial-4.jpg", alt: "Janitorial services") %>
					</a>
				</div>			    
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<i class="fa glyphicon-chevron-left fa-chevron-left"></i>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<i class="fa glyphicon-chevron-right fa-chevron-right"></i>
			</a>
		</div>	
	</div>
</div>
<!-- <div class="content row">
	<div class="col-lg-12">
		<div class="content-body content-body-index">
			<h1 class="boxed-header">Janitorial Services</h1>
			<p>One of the most important aspects of running a successful business is to create a clean working environment, in which both customers and clients can feel comfortable.</p>
			<p><brand>Go Green</brand> believes in following a model that provides the highest quality janitorial services, and since most janitorial services are provided after business hours, you can remain confident that we only hire and keep the most honest and trustworthy employees to service your facilities.</p>
			<h2><center>Going "Green"</center></h2>
			<p>All our employees have access to LEEDS certified training, made available in order to sustain proper employee education.</p>
			<p>We also offer full "green" product lines that offer the same benefits of traditional cleaning products, while minimizing environmental impact. Implementing these services into your facility can help in promoting good indoor air quality, occupant health, and recycling.</p>
			<center><%= image_tag("janitorial-green.png", alt: "Green initiative", class: "img-responsive") %></center>
		</div>
	</div>
</div> -->
<div class="content row">
<!-- 	<div id="maintenance" class="col-lg-12">
		<h1 class="boxed-header">Janitorial Services</h1>
	</div> -->
	<div class="col-lg-12" id="quality-service">
		<!-- <h1 class="boxed-header">What we offer</h1> -->
		<div class="row">
			<div id="intro" class="col-md-7">
				<p>One of the most important aspects of running a successful business is a clean working environment. Your employees and clients deserve to feel clean and comfortable while inside your facility.  Instituting proper cleaning regiments are paramount. At <brand>Go Green</brand> we offer a wide variety of support systems to keep your facility looking it's best.</p>
			</div>
			<div class="col-md-5 no-boxed-header">
				<ul>
					<li>Nightly janitorial services</li>
					<li>Day porter services </li>
					<li>Carpet cleaning: extraction and bonneting</li>
					<li>Floor care: stripping, waxing, spray buffing, machine scrub, tile and grout cleaning</li>
					<li>Upholstery cleaning: chairs, cubicles, and furniture </li>
					<li>Exterior and interior window cleaning services</li>
					<li>Construction cleanups</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="content row">
	<div id="quality-service" class="col-lg-12">
		<h1 class="boxed-header">Going "Green"</h1>
		<div class="row">
			<div class="col-md-6">
				
				<p>It is important to understand the difference that a green cleaning program can make in your facility. At <brand>Go Green</brand> we offer full green product lines, and green equipment to reduce the environmental impact of our services.
				</p>
				<p>Our green products offer the same benefits of traditional cleaning products, while minimizing environmental impact.</p>
				<p>Implementing these services into your facility can help promote good indoor air quality, occupant health, and recycling.</p>
			</div>
			<div class="col-md-6">
				<%= image_tag("janitorial-green.png", alt: "Green initiative", class: "img-responsive") %>
				<ul>
					<li>Green cleaning and equipment product line</li>
					<li>Energy efficient equipment options</li>
					<li>Recycling programs, including “zero waste” initiatives</li>
					<li>Energy saving programs</li>
					<li>LEED certification programs for your facility</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="content row">
	<div class="col-lg-12">
		<h1 class="boxed-header">Daily Cleaning</h1>
		<div class="row">
			<div class="col-md-4">
				<h2>Restrooms</h2>
				<ul>
					<li>Thoroughly clean restrooms</li>
					<li>Scour, wash, and/or disinfect all fixtures including wash basins, toilet bowls and urinals</li>
					<li>Empty trash and sanitary napkin receptacles, replace liners</li>
					<li>Spot wash all walls and partitions</li>
					<li>Clean all mirrors</li>
					<li>Wash dispensing equipment</li>
					<li>Sweep and mop floors with germicidal disinfectant solution</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h2>Trash</h2>
				<ul>
					<li>Exterior of building is to be kept free of debris up to 15 feet surrounding the building</li>
					<li>Empty and clean trash containers, replace liners throughout facility</li>
					<li>All trash will be removed and placed in specifically designated dumpster, container, or area</li>
					<li>Trash will not be left in a non-designated area</li>
				</ul>			
			</div>
			<div class="col-md-4">
				<h2>Hard Floors</h2>
				<ul>
					<li>Sweep all hard surface flooring and mop thoroughly</li>
					<li>Spot mop break rooms and other hard floors for stains and spillage</li>
					<li>Sweep and mop stairs and landings as needed</li>
					<li>Carpets</li>
					<li>Thoroughly vacuum all lobbies, banquet rooms, offices, break rooms, exterior and interior mats, hallways, landings, stairwells, etc.</li>
					<li>Spot clean carpeted areas and mats as needed</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>Dust</h2>
				<ul>
					<li>All exposed furniture surfaces</li>
					<li>Wood surfaces</li>
					<li>Chair rails</li>
					<li>Baseboards</li>
					<li>Trim</li>
					<li>Shelving</li>
					<li>Paneling (to a height of six feet)</li>
				</ul>			
			</div>
			<div class="col-md-4">
				<h2>Break Rooms</h2>
				<ul>
					<li>Clean countertops, sinks, and spot clean walls</li>
					<li>Clean tabletops and chairs</li>
					<li>Clean cabinet front exteriors</li>
					<li>Clean, disinfect, and polish all water fountains</li>
					<li>Clean microwave(s) interior and exterior</li>
				</ul>			
			</div>
			<div class="col-md-4">
				<h2>Glass</h2>
				<ul>
					<li>Entrance areas</li>
					<li>Interior glass doors</li>
					<li>Furniture with laminated or glass tops</li>
				</ul>			
			</div>
		</div>
	</div>
</div>
<div class="content row">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-4">
				<h1 class="boxed-header">Weekly</h1>
				<ul>
					<li>Detail vacuum all carpet edges, under desks, and furniture</li>
					<li>Scour, wash, and disinfect wash basin and floor drain pan</li>
					<li>Sweep and mop using germicidal disinfectant</li>
					<li>Replenish paper towels, toilet tissue, and soap supplies</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h1 class="boxed-header">Monthly</h1>
				<ul>
					<li>Dust and vacuum all window blinds</li>
					<li>Thoroughly wash and disinfect restroom partitions</li>
					<li>Check and remove dust from all supply and return vents, including restroom vents</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h1 class="boxed-header">Upon request</h1>
				<ul>
					<li>Strip and refinish all flooring</li>
					<li>Carpet cleaning(shampooing, steam cleaning, etc.)</li>
					<li>Detailed curtain and upholstery cleaning</li>
					<li>Perimeter window cleaning</li>
					<li>And more!</li>
				</ul>
			</div>
		</div>
	</div>
</div>