<div class="content row">
	<div class="col-lg-12">
		<h1 class="boxed-header">Porter services</h1>
<!-- 		<div id="links">
		    <a href="assets/porter-1.jpg" title="Banana" data-gallery>
		        banana
		    </a>
		    <a href="assets/porter-2.jpg" title="Apple" data-gallery>
		        apple
		    </a>
		    <a href="assets/porter-3.jpg" title="Orange" data-gallery>
		        orange
		    </a>
		</div>	 -->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<a href="assets/porter-1-original.jpg" title="Banana" data-gallery>
						<%= image_tag("porter-1.jpg", alt: "Landscape maintenance") %>
					</a>
				      <div class="carousel-caption">
				        <p>Go Green Porter Services</p>
				    </div>
				</div>							    				    
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<i class="fa glyphicon-chevron-left fa-chevron-left"></i>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<i class="fa glyphicon-chevron-right fa-chevron-right"></i>
			</a>
		</div>	
	</div>
</div>
<div class="content row">
	<div id="intro" class="col-md-7">
		<p>During normal business hours it is important to keep your facility clean and neat. <brand>Go Green</brand> offers day porter services to assist in a variety of tasks</p>		
	</div>
	<div class="col-md-5 no-boxed-header">
		<ul>
			<li>Daily / Weekly porter service schedules</li>
			<li>Emptying and cleaning of all trash receptacles</li>
			<li>Litter pick up in common areas of landscape</li>
			<li>Trash and debris pick up in parking lot</li>
			<li>Trash disposal sites kept clean</li>
			<li>Ashtrays kept emptied and clean</li>
			<li>Gum scraping off sidewalks</li>
			<li>Wash windows and keep window tracks clean</li>
			<li>Power washing services</li>
		</ul>
	</div>
</div>