<div class="content row">
	<div class="col-lg-12">
		<h1 class="boxed-header">Landscape services</h1>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<a href="assets/landscape-1-original.jpg" title="Landscape" data-gallery>
						<%= image_tag("landscape-1.jpg", alt: "Landscape maintenance") %>
					</a>
				      <div class="carousel-caption">
				        <p>Go Green Landscape Services</p>
				    </div>
				</div>
				<div class="item">
					<a href="assets/landscape-2-original.jpg" title="Landscape" data-gallery>
						<%= image_tag("landscape-2.jpg", alt: "Landscape maintenance") %>
					</a>
				</div>
				<div class="item">
					<a href="assets/landscape-3-original.jpg" title="Landscape" data-gallery>
						<%= image_tag("landscape-3.jpg", alt: "Landscape maintenance") %>
					</a>
				</div>	
				<div class="item">
					<a href="assets/landscape-4-original.jpg" title="Landscape" data-gallery>
						<%= image_tag("landscape-4.jpg", alt: "Landscape maintenance") %>
					</a>
				</div>									    				    
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<i class="fa glyphicon-chevron-left fa-chevron-left"></i>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<i class="fa glyphicon-chevron-right fa-chevron-right"></i>
			</a>
		</div>			
	</div>
</div>
<div class="content row">
	<div class="col-md-4 icon">
		<%= image_tag("landscape-maintenance.jpg", class: "img-responsive no-boxed-header") %>
	</div>
	<div class="info col-md-8">
		<h1>Landscape Maintenance</h1>
		<p>Here at <brand>Go Green</brand>, we recognize that each property is going to be unique, with different challenges and objectives that need to be met. Our team will ensure the highest level of service is being upheld at your property.</p>
		<ul>
			<li>Trimming: manicured and natural</li>
			<li>Property maintenance: trash removal, blowing, and finish raking</li>
			<li>Complete lawn care: mowing, edging, water management, fertilizing, aeration, overseed</li>
			<li>Tree care: ISA Certified Arborist, trimming, crown clearing, raising, removal</li>
			<li>Certified irrigation technicions on staff</li>
			<li>Certified landscape contractor licensed, bonded, and insured</li>
		</ul>	
	</div>
</div>
<div class="content row">
	<div class="col-md-4 col-md-push-8 icon">
		<%= image_tag("landscape-construction.jpg", class: "img-responsive no-boxed-header") %>
	</div>
	<div class="info col-md-8 col-md-pull-4">
		<h1>Landscape Construction</h1>
		<p>Our landscape construction and renovation services allow us to create new landscape environments, while complementing existing ones. It takes a great deal of knowledge and expertise when it comes to planning and executing new landscape construction for your property. New landscaping can transform a building's appeal, while providing increased exposure. Our team specializes in projects, large and small, with malls, hospitals, offices, and HOA's,</p>
		<ul>
			<li>Full landscape planning and installation</li>
			<li>Turf installation</li>
			<li>Decorative rock and boulders</li>
			<li>Full landscape renovation</li>
			<li>Seasonal color bed construction</li>
			<li>Complete irrigation system installation</li>
		</ul>			
	</div>
</div>
<div class="content row">
	<div class="col-md-4 icon">
		<%= image_tag("landscape-irrigation.jpg", class: "img-responsive no-boxed-header") %>
	</div>
	<div class="info col-md-8">
		<h1>Landscape Irrigation</h1>
		<p><brand>Go Green</brand> trains each of it's crew leaders to perform irrigation repairs. This allows us to ensure that your irrigation sustem is working properly on each service visit. In the event of a major irrigation problem, our certified irrigation technicians have the knowledge and training to repair your system. Irrigation technicians will perform regular inspections on your system to minimize waste and identify problems.
		</p>
		<p>We also pride ourselves in creating water management and conservation plans. These plans are tailored to each specific property's needs. Plans can include replacing sprinklers and emitters, eliminating unused drips, and adjusting clocks to specific watering needs based on plant type and seasonal needs.</p>
		<ul>
			<li>Minor repairs: sprinklers, bubblers, and drips</li>
			<li>Main and lateral line repair</li>
			<li>Valve repair and replacement</li>
			<li>Back flow repair and replacement</li>
			<li>Irrigation controller installation</li>
			<li>Irrigation system installation</li>
			<li>Water management planning</li>
		</ul>	
	</div>
</div>
