<div id="posts" class="content row">
	<div id="latest-posts" class="col-lg-3 col-lg-push-9">
		<h3>Latest posts:</h3>
		<ul>
			<% @latest.each do |l| %>
				<li>
					<%= link_to l.title, l, :class => 'underline' %><span class="post-meta">Posted by <%= l.user_id %> on 09/18/2014</span>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="col-lg-9 col-lg-pull-3">
		<h2><%= @post.title %></h2>
		<h4>Published on September 18, 2014 by <a href="#"><%= @post.user_id %></a></h4>
		<%= raw @post.body %>
		<%= link_to 'Back', blog_path, :class => 'underline' %>
	</div>
</div>
