<div class="content row">
	<div class="col-lg-12">
		<h1 class="boxed-header">Frequently Asked Questions</h1>
		<%= image_tag("faq-large.jpg", alt: "Frequently asked questions", class: "img-responsive") %>
		<dl>
			<dt><h3>Why Go Green?</h3></dt>
			<dd class="list-group-item"><p>We're a company built on quality, integrity, and customer service. In order to properly landscape a property, you must be able to handle all aspects of that property's needs. <brand>Go Green's</brand> combination of great leadership and training allows us to provide for every aspect of your landscaping needs. Attention to detail will always set us apart from our competition.</p></dd>
			<dt><h3>How can I conserve water and save money?</h3></dt>
			<dd class="list-group-item"><p>Water conservation is an important part of any successful landscape plan. Our certified irrigation technician will analyze all of the watering needs for the landscaping on your property. Proper watering will always be based on plant type and season. Most importantly, knowing how much water plants need to stay healthy, without over watering, will help you save money.</p></dd>
			<dt><h3>What is the difference between natural and manicured pruning?</h3></dt>
			<dd class="list-group-item"><p>If you would like to have a natural look for your property then pruning will be done on an as needed basis, this includes cutbacks. This look will consist of allowing a plant to keep its natural form, and only be pruned to keep it from becoming an obstruction. A manicured look will keep the plant trimmed at all times in a neat, compact shape. These two pruning methods are both acceptable, and are implemented due to customers preference.</p></dd>
			<dt><h3>Why would I need to cut certain plants back?</h3></dt>
			<dd class="list-group-item"><p>During the winter certain plants may become damaged by a frost. When this occurs the plant material that was affected must be removed in order to allow the plant to produce new growth. Generally these cutbacks will be done in early March, right before the growing season begins.</p></dd>
			<dt><h3>Why do I need to overseed my grass each year?</h3></dt>
			<dd class="list-group-item"><p>The most common species of grass around the valley happen to be Bermuda and Tiffway grasses. Both of these species are warm weather grasses that do very well about 7 months out of the year. After these 7 months, when it starts to get cold, these grasses will enter a dormant period, and start to brown out. At this point scalping will take place where your grass is cut to almost bare dirt, and then a winter rye seed will be applied. This practice will ensure you have a beautiful green lawn throughout the year.</p></dd>
			<dt><h3>When and why do I need to fertilize on my property?</h3></dt>
			<dd class="list-group-item"><p>Fertilization is essential in order to keep grass, plants, and trees healthy on your property. Fertilization of grass will be done a minimum of 4 times throughout the year in order to keep lawn well fed and green. Plants and trees should be fertilized on an as needed basis. Our landscaping team is trained to spot deficiencies and report them in order to formulate proper fertilization plans.</p></dd>
		</dl>
	</div>
</div>
