<div id="blog" class="content row">
	<div id="latest-posts" class="col-lg-3 col-lg-push-9">
		<h3>Latest posts:</h3>
		<ul>
			<% @latest.each do |l| %>
				<li>
					<%= link_to l.title, l, :class => 'underline' %><span class="post-meta">Posted by <%= l.user_id %> on 09/18/2014</span>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="col-lg-9 col-lg-pull-3">
		<% @posts.each do |post| %>
			<h2><%= post.title %></h2>
			<h4>Published on September 18, 2014 by <a href="#"><%= post.user_id %></a></h4>
			<%= raw post.body %>
			<p><%= link_to 'Continue reading', post, :class => 'underline' %></p>
		<% end %>
	</div>
</div>
<div class="content row">
	<div class="col-lg-12">
		<%= will_paginate @posts %>
	</div>
</div>