<div class="content row">
	<div class="col-lg-12">
		<div class="content-body content-body-contact">
			<div class="row">
				<div class="col-md-12">
					<h1 class="boxed-header">Contact us</h1>
				</div>
				<div class="col-md-4">
					<div>
						<div class="panel-heading"><h2>Business Address</h2></div>
						<div class="panel-body">
							<h4><i class="fa fa-building-o"></i> 10632 N. Scottsdale Rd #227</h4>
							<h4>Scottsdale, AZ 85254</h4>
							<h4><i class="fa fa-phone fa-fw"></i> (602) 910-4220</h4>
							<h4>Fax: (866) 666-1364</h4>							
						</div>
					</div>					
				</div>
				<div class="col-md-8">
					<%= image_tag("contact-group.jpg", class: "img-responsive") %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1 class="boxed-header">Map us</h1>
				</div>
				<div class="col-md-12">
					<iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=10632+N.+Scottsdale+Rd+%23227+Scottsdale,+AZ+85254&amp;ie=UTF8&amp;hq=&amp;hnear=10632+N+Scottsdale+Rd+%23227,+Scottsdale,+Arizona+85254&amp;gl=us&amp;ll=33.582824,-111.925836&amp;spn=0.016035,0.033023&amp;t=m&amp;z=14&amp;output=embed"></iframe>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1 class="boxed-header">Get to know us</h1>
				</div>
				<div class="col-md-3 bio">
					<div>
						<div class="thumbnail">
							<%= image_tag("contact-drue.png", class: "img-responsive avatar") %>
						</div>
						<div class="panel-heading contact-name"><h2>Drue<br />Engels</h2></div>
						<div class="panel-body">
							<h4>Managing Partner</h4>
							<h6>Janitorial Operations</h6>
							<h6><i class="fa fa-envelope fa-fw"></i> drue@gogreenglobal.net</h6>
							<div id="accordion">
								<div>
									<h4 class="boxed-header">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											Bio
										</a>
									</h4>
									<div id="collapseOne" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Drue Engels oversees business development and participates in the overall management of Go Green.  With over 35 years in the industry, Drue lends his knowledge and expertise to contribute to “The Green Team.”</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>		
				</div>
				<div class="col-md-3 bio">
					<div>
						<div class="thumbnail">
							<%= image_tag("contact-cathy.png", class: "img-responsive avatar") %>
						</div>
						<div class="panel-heading contact-name"><h2>Cathy<br />Engels</h2></div>
						<div class="panel-body">
							<h4>President</h4>
							<h6>Accounting</h6>
							<h6><i class="fa fa-envelope fa-fw"></i> cathy@gogreenglobal.net</h6>
							<div id="accordion">
								<div>
									<h4 class="boxed-header">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											Bio
										</a>
									</h4>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Cathy is responsible for Go Green’s designation as a nationally certified woman owned business.  She runs the company's finances, and is a steady hand in the future of the company.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="col-md-3 bio">
					<div>
						<div class="thumbnail">
							<%= image_tag("contact-kaipo.png", class: "img-responsive avatar") %>
						</div>
						<div class="panel-heading contact-name"><h2>Kaipo<br />Spencer</h2></div>
						<div class="panel-body">
							<h4>Director of Operations</h4>
							<h6>Landscape Operations</h6>
							<h6><i class="fa fa-envelope fa-fw"></i> kaipo@gogreenglobal.net</h6>
							<div id="accordion">
								<div>
									<h4 class="boxed-header">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											Bio
										</a>
									</h4>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Kaipo oversees the day-to-day operations of Go Green’s landscape division. With many years in the industry, his knowledge and professionalism help set apart Go Green from other companies.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="col-md-3 bio">
					<div>
						<div class="thumbnail">
							<%= image_tag("contact-cody.png", class: "img-responsive avatar") %>
						</div>
						<div class="panel-heading contact-name"><h2>Cody<br />McCloskey</h2></div>
						<div class="panel-body">
							<h4>Director of Operations</h4>
							<h6>Janitorial Operations</h6>	
							<h6><i class="fa fa-envelope fa-fw"></i> cody@gogreenglobal.net</h6>
							<div id="accordion">
								<div>
									<h4 class="boxed-header">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
											Bio
										</a>
									</h4>
									<div id="collapseFour" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Cody oversees the day-to-day operations of Go Green’s janitorial division, and aids in the management of the landscape divisions HOA portfolio. He is responsible for implementing and monitoring the company’s business development for both divisions.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
