// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content-body-about {
	p {
		text-indent: 1em;
	}

	#logo-gogreen {
		max-height: 320px;
		width: 100% !important;
	}
}