/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require font-awesome
 *= require blueimp-gallery.min
 *= require bootstrap-image-gallery
 */

@import "font-awesome-sprockets";
@import "font-awesome";

#intro, #sub-intro {
	margin-top: 20px;
	text-indent: 1em;	
}

#intro {
	font-size: 1.3em;
}

#sub-intro {
	font-size: 1.1em;
}