// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blog {
	a {
		color: black;
	}

	a:visited {
		color: black;
	}

	p {
		font-size: 1em;
	}
}

#latest-posts {
	ul {
		font-size: 1em !important;
		list-style-type: none;
		padding-left: 0 !important;
	}

	span {
		margin-bottom: .5em;
	}	

	.post-meta {
		display: block;
	}
}