// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-body-contact {
	margin: 0 !important;
	text-align: center;

	.panel-heading {
		padding-bottom: 0;
		padding-top: 0;
	}

	.panel-body {
		padding-top: 0;
	}

	.avatar {
		margin-bottom: 0 !important;
	}

	#accordion {
		background-color: #eee;

		h4 {
			background-color: #D8D2C1;			
		}

		a {
			text-decoration: underline;
		}
	}

	.bio p {
		font-size: 1em !important;
	}
}