// Place all the styles related to the faq controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-body-faq {
	.list-group-item {
		background-color: transparent;
		border: none;
	}

	dl {
		margin-bottom: 0;
	}

	dt {
		font-size: 1.3em;
	}

	.fa {
		font-size: 1.1em;
		vertical-align: middle;
	}
}