.content-body-index {
	.carousel {
		margin-top: 15px;
	}

	.carousel-indicators {
		margin: 0 !important;		
		position: static !important;
		width: 100%;

		li {
			background-color: #D9D6B2;
			border-color: #38382F;
			border-radius: .75em;
			height: 1.5em;
			margin: .25em;
			width: 1.5em;		
		}

		li.active {
			background-color: #38382F;
		}
	}

	.carousel-caption {
		padding-top: 0 !important;
		position: static !important;
		padding-bottom: 0;
		margin-bottom: 0;

		p {
			text-align: left;
		}
	}

	.item {
		min-height: 330px;

		img {
			margin: 0 auto;
			max-width: 700px !important;
		}
	}
}