// Place all the styles related to the landscape controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 1200px) {
	.fa-6 {
		padding-top: .4em;
	}
}

.fa-6 {
	//color: #75ad7e;
	font-size: 12em;
}

.icon {
	text-align: center;
	padding-bottom: 10px;
}

.info {
	p {
		font-size: 1.2em;
	}

	ul {
		border-left: 7px solid #66595c;
		border-radius: 0;
		//list-style: none;
		list-style-position: inside;

		li {
			padding-bottom: 3px;
		}
	}
}