// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
	a {
		color: #000;
	}

	a:visited {
		color: #000;
	}

	p {
		font-size: 1em;
	}
}