/* 
// Original dark color scheme
$body-bg-color: #000;
$header-bg-color: #000;
$content-bg-color: #555;
$secondary-nav-bg-color: #333;
$footer-bg-color: #222;

$link-base-color: #a5a140;
$link-active-color: #a5a140;
$link-hover-color: #fff;
$link-visited-color: #a5a140;

$input-bg-color: #444343;
$input-border-color: #333;
$input-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6) !important;
$input-passive-font-color: #aaa;
$input-active-font-color: #aaa;
$input-placeholder-font-color: #aaa;
$input-button-bg-color: #444343;

$headers-font-color: #a09f96;
$text-font-color: #a09f96;
$branding-font-color: #fff;
$footer-font-color: #a09f96;
 */


// New light color scheme
$body-bg-color: #fff;
$header-bg-color: #222;
$links-bg-color: #F5F5F5;
$content-bg-color: whitesmoke;
$secondary-nav-bg-color: #fff;
$footer-bg-color: #efeae1;

$link-base-color: #fff;
$link-active-color: #333;
$link-hover-color: #333;
$link-visited-color: #fff;
$footer-link-base-color: #66595c;
$footer-link-active-color: #000;
$footer-link-hover-color: #000;
$footer-link-visited-color: #66595c;

$input-bg-color: #efeae1;
$input-border-color: #ccc;
$input-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6) !important;
$input-passive-font-color: #4B4144;
$input-active-font-color: #4B4144;
$input-placeholder-font-color: #A79FA1;

$headers-font-color: #66595c;
$text-font-color: #66595c;
$branding-font-color: #918400;
$footer-font-color: #66595c;
//Vector logo color: #EBE8C3af

$panel-heading-bg-color: $content-bg-color;
$panel-bg-color: $content-bg-color;
$panel-border-color: $content-bg-color;

$img-thumbnail-bg-color: $content-bg-color;
$img-thumbnail-border-color: $content-bg-color;

// ## RESPONSIVE ## 

// up to small
@media (max-width: 767px) {
	.container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.navbar {
		padding-left: 15px;
		padding-right: 15px;
	}
}

// small and up
@media (min-width: 768px) {
	#secondary-nav {
		padding-left: 2em !important;
		padding-right: 2em !important;
	}

	.content, .header {
		padding-left: 2em !important;
		padding-right: 2em !important;
	}
}

// up to medium
@media (max-width: 992px) {
	.header {
		ul {
			padding: 0 .5em;
			text-align: center;
			width: 100%;			
		}		
	}

	.ugbc-logo {
		width: 30% !important;
	}

	footer {
		height: 250px;
	}

	#footer-content {
		height: 220px;
	}

	#secondary-nav {
		text-align: center;

		ul {			
			padding-left: 0;
			text-align: center;
		}

		form {
			margin: 0 auto;
		}

		.quote {
			h2 {
				text-align: center;
			}
		}			
	}
} 

// medium and up
@media (min-width: 992px) {
	.content-body {
		margin: 0 10em;
	}

	#secondary-nav {
		text-align: left;

		ul {
			text-align: left;
		}

		.input-group {
			padding-bottom: 10px;
		}		
	}

	footer {
		height: 200px;
	}

	#footer-content {
		height: 170px;
	}	
}

// medium to large only
@media (min-width: 992px) and (max-width: 1200px) {

}

// up to large
@media (max-width: 1200px) {
}

//large and up
@media (min-width: 1200px) {
	.quote {
		h2 {
			text-align: left;
		}
	}
}

// ## NON-RESPONSIVE ##

body {
	background-color: $body-bg-color !important;
	background-repeat: repeat;
	color: $text-font-color !important;
	font-family: 'Droid Sans', serif !important;
	font-size: 14px;
	padding-top: 50px;
}

h1,h2,h3,h4,h5,h6 {
	color: $headers-font-color !important;
	font-family: 'Glegoo', serif !important;
}

p {
	font-size: 1.2em;
}

ul {
	font-size: 1.2em;
}

a {
	-o-transition:.4s;
	-ms-transition:.4s;
	-moz-transition:.4s;
	-webkit-transition:.4s;

	&:link, {
		color: $link-base-color;
	}

	&:active, &:visited:active {
		color: $link-active-color !important;
	}

	&:hover, &:link:hover, &:visited:hover {
		color: $link-hover-color;
	}

	&:visited {
		color: $link-visited-color;
	}
}

.container {
	max-width: 1140px;
}

#header-container {
	background-color: $header-bg-color;

	.navbar-inverse {
		border-color: $header-bg-color;

		.active {
			background-color: #000;
			border-radius: 2px;
		}	
	}
}

#site-container {
	background-image: image-url("background-low.jpg");
	background-attachment: fixed;
	box-shadow: 0px 4px 15px #888;
	position: relative;
}

#main-container {
	background: rgba(0, 0, 0, .2); 
}

.header {
	background-color: $header-bg-color;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: .5em;

	img {
		//margin: 0 auto;
	}
}

.content {
	background-color: $content-bg-color;
	font-size: 1.1em;
	margin: 0 !important;



	img {
		margin-bottom: 1em;
	}

	h1 {
		font-family: 'Glegoo', serif !important;
	}
}

.content-body {
	p {
		font-size: 1.2em;
	}

	.panel {
		box-shadow: none;
	}

	.panel-default {
		background-color: $panel-bg-color;
		border-color: $panel-border-color;
	}

	.panel-heading {
		background-color: $panel-heading-bg-color !important;
		border-color: $panel-border-color !important;
	}

	.thumbnail {
		background-color: $img-thumbnail-bg-color;
		border-color: $img-thumbnail-border-color;
		border-color: transparent;
	}
}

#secondary-nav {
	background-color: $secondary-nav-bg-color;
	padding-bottom: 1em;
	margin: 0;

	ul {
		font-size: 1.4em;
		list-style-type: none;
	}

	form {
		text-align: left;
	}

	.btn {
		font-size: .9em;
	}

	.has-error input, .has-error span, .has-error textarea {
		border-color: #a94442;
		background-color: #f2dede;
	}

	label[class="has-error"] {
		color: #a94442;
		font-weight: normal;
	}

	.input-group-addon {
		background-color: $input-bg-color;
		color: $input-passive-font-color;
	}

	.nav-input {
		background-color: $input-bg-color !important;
		font-size: .9em;
		color: $input-passive-font-color !important;
	}

	textarea {
		height: 202px;
		resize: none;
	}

	.nav-input:focus {
		color: $input-active-font-color !important;
		-webkit-box-shadow: $input-box-shadow;
		box-shadow: $input-box-shadow;
	}

	::-webkit-input-placeholder {
	   color: $input-placeholder-font-color;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $input-placeholder-font-color;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $input-placeholder-font-color;  
	}

	:-ms-input-placeholder {  
	   color: $input-placeholder-font-color;  
	}

	.logos {
		text-align: center;

		img {
			margin-bottom: 20px;					
		}

		.ugbc-logo {
			width: 40%;
		}

		.ifma-logo {			
			width: 60%;
		}

		.boma-logo {
			width: 45%;
		}
	}

	.logos img {
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;		

		opacity: .9;
	}

	.logos img:hover {
		opacity: 1;
	}
}

.affiliates {
	background-color: #fff !important;
	margin: 0 !important;
	padding-bottom: 1em !important;

	.col-md-2 {
		text-align: center !important;

		img {
			width: 100% !important;
			max-width: 140px;
		}
	}
}

footer {
	background-color: $footer-bg-color;
	clear: both;
	position: absolute;
	width: 100%;
	z-index: -20;
}

#footer-content {
	background-color: $footer-bg-color;
	bottom: 0px;
	font-size: 3em;
	left: 0px;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	position: fixed;
	right: 0px;
	text-align: center;
	width: 100%;
	z-index: -15;

	h2, h4 {
		color: $footer-font-color !important;
	}

	a {
		&:link, {
			color: $footer-link-base-color;
		}

		&:active, &:visited:active {
			color: $footer-link-active-color !important;
		}

		&:hover, &:link:hover, &:visited:hover {
			color: $footer-link-hover-color;
		}

		&:visited {
			color: $footer-link-visited-color;
		}
	}	
}

brand {
	color: $branding-font-color;
	font-family: 'Glegoo', serif;
}

.boxed-header {
	background-color: #BCB8B1; //B2AEAF
	color: #fff !important;
	margin-bottom: .5em;
	padding: .5em;
	text-align: center;
}

.carousel {
	margin-top: 20px; 

	.fa {
		color: #fff;
	}

	img {
		margin-bottom: 0;
	}

	.carousel-caption {
		background-color: #222;
		opacity: .8;
	}
}

.underline {
	color: $branding-font-color !important;
	text-decoration: underline;
}

.underline:hover {
	color: #333 !important;
}

.home-offer {
	margin-bottom: 2em;
}

#quality-service {
	img {
		margin-left: auto;
		margin-right: auto;
	}
}

.no-boxed-header {
	margin-top: 20px;
}