<div class="content row">
	<div class="col-lg-12">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<a href="assets/home-1-original.jpg" title="Go Green" data-gallery>
						<%= image_tag("home-1.jpg", alt: "Go Green Landscape & Janitorial") %>
					</a>
				      <div class="carousel-caption">
				        <p>Go Green Landscape &amp; Janitorial</p>
				    </div>
				</div>
				<div class="item">
					<a href="assets/home-2-original.jpg" title="Go Green" data-gallery>
						<%= image_tag("home-2.jpg", alt: "Go Green Landscape services") %>
					</a>
				      <div class="carousel-caption">
				        <p><%= link_to "Go Green Landscape services", landscape_path, class: "underline" %></p>
				    </div>
				</div>
				<div class="item">
					<a href="assets/home-3-original.jpg" title="Go Green" data-gallery>
						<%= image_tag("home-3.jpg", alt: "Go Green Janitorial services") %>
					</a>
				      <div class="carousel-caption">
				        <p><%= link_to "Go Green Janitorial services", janitorial_path, class: "underline" %></p>
				    </div>
				</div>	
				<div class="item">
					<a href="assets/home-4-original.jpg" title="Go Green" data-gallery>
						<%= image_tag("home-4.jpg", alt: "Go Green Porter services") %>
					</a>
				      <div class="carousel-caption">
				        <p><%= link_to "Go Green Porter services", porter_path, class: "underline" %></p>
				    </div>
				</div>									    				    
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<i class="fa glyphicon-chevron-left fa-chevron-left"></i>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<i class="fa glyphicon-chevron-right fa-chevron-right"></i>
			</a>
		</div>	
	</div>
</div>
<div class="content row">
	<div class="col-lg-6">
		<div id="intro">
			<p><brand>Go Green</brand> is a full service commercial landscape and janitorial service provider for the greater Phoenix metro area. <brand>Go Green</brand> is a nationally certified woman owned business, by the NWBOC.</p>
		</div>
	</div>
	<div class="col-lg-6">
		<div id="sub-intro">
			<p>At <brand>Go Green</brand> we provide industry-leading services, with customer satisfaction as our number one goal. Our skilled professionals provide landscape and janitorial services unmatched by other companies. See how the <brand>Go Green</brand> team can work for you.</p>
		</div>	
	</div>
</div>
<div class="content row">
	<div class="col-lg-12 home-offer">
		<h1 class="boxed-header">Services offered</h1>
		<div class="row">
			<div class="col-md-4">
				<h2>Janitorial</h2>
				<p>Our dedicated team of janitorial professionals will provide industry leading cleaning for your facility. Our services are based on industry standards, and we pride ourselves on adapting based best care methods. Our janitorial services include <brand>Green Cleaning</brand> methods, as well as access to building LEED certification and sustainability programs.</p>
				<p><%= link_to "View our janitorial services", janitorial_path, class: "underline" %></p>
			</div>
			<div class="col-md-4">
				<h2>Landscaping</h2>
				<p>Creating and maintaining a beautiful landscape takes knowledge, care, and dedication. We service all types of commercial properties and HOA communities. A full service landscape company, we can provide for all the needs of your property or community.</p>
				<p><%= link_to "See how we can help", landscape_path, class: "underline" %></p>
			</div>
			<div class="col-md-4">
				<h2>Porter</h2>
				<p>We can provide porter services to ensure your property stays looking neat and clean. Maintaining your property with porter services from <brand>Go Green</brand> will provide you services based on your specific needs.</p>
				<p><%= link_to "View our porter services", porter_path, class: "underline" %></p>
			</div>
		</div>
	</div>
</div>
<div class="content row">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-8">
				<%= image_tag("contact-group.jpg", class: "img-responsive") %>
			</div>
			<div class="col-md-4">
				<p>We're a family owned, and operated, business with our office located in Scottsdale, AZ.</p>
				<p>Get to know us and we'll show you why our personable service can't be matched anywhere else.</p>
				<p><%= link_to "Meet our team", contact_path, class: "underline" %></p>
			</div>
		</div>
	</div>
</div>
<div class="content row">
	<div class="col-lg-12" id="quality-service">
		<h1 class="boxed-header">Qualifications</h1>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4">
						<%= link_to image_tag("logo-raz.png", class: "img-responsive", alt: "Ranking Arizona"), "http://azbigmedia.com/ranking-arizona", "target" => "_blank" %>
						</div>
					<div class="col-md-4">
						<%= link_to image_tag("logo-roc.png", class: "img-responsive", alt: "Arizona Licensed Contractor"), "http://www.azroc.gov/", "target" => "_blank" %>
					</div>
					<div class="col-md-4">
						<%= link_to image_tag("logo-nwboc.png", class: "img-responsive", alt: "Arizona Licensed Contractor"), "http://www.nwboc.org/", "target" => "_blank" %>
					</div>					
				</div>
				<div class="row">
					<div class="col-md-4">
						<p>Voted a "Top 10" Landscape and Janitorial Service Provider</p>
					</div>
					<div class="col-md-4">
						<p><brand>Go Green</brand> is a registered contractor. Licensed, bonded, and insured.</p>
					</div>	
					<div class="col-md-4">
						<p><brand>Go Green</brand> is a woman owned business.</p>
					</div>										
				</div>
			</div>
		</div>
	</div>
</div>